@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Condensed", serif;       
}
.excellence{
    background-image: url(images/az.jpg);
    width: 100%;
    height: 100vh;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.galsen{
    color: yellow;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,50%);}

.galsen h1{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: aqua;
    position: relative;
    top: 40%;
    
}
.galsen p{
    text-align: center;
    font-size: 18px;
}
.galsen .code{
    display:block;
    width: 50px;
    margin-left: 100px;
}
.galsen .code input{
    border-radius: 30px;
    width: 350px;
    height: 40px;
    margin-top: 30px;
    outline: none;
    border:none;
    background-color: rgb(39, 50, 148);
    
}
.galsen .code input::placeholder{
    padding-left:30px;
    color: aliceblue;
}
.galsen .code button{
    width: 200px;
    height: 50px;
    margin-top: 30px;
    margin-left: 90px;
    background-color: rgb(14, 13, 15);
    color: aqua;
    font-weight: bold;
    outline: none;
    border:none;
    border-radius: 30px;
    transition: 0.5s;
}
.galsen .code button:hover{
    background-color: transparent;
    border: 2px solid black;
}
.basse{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;

}
.basse-bi{
    float: left;
    width: 33.33%;
}

.basse-bi h2{
    text-align: center;
}





